* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --font:'Red Hat Display', sans-serif;

    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --button-hover: #766cf1;
}

@font-face {
    font-family: 'Red Hat Display', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;

}

.card {
    width: 350px;
    box-shadow: 4px 5px 30px gray;
    border-radius: 15px;
    margin-top:20%;
}

/*HEADER*/

.img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/*END HEADER*/

/*MAIN*/

main {
    display: flex; 
    flex-direction: column;
}
.card-in{
    padding: 30px 20px 30px 20px
}

.title {
    color: var(--Dark-blue);
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}

.paragraph {
    text-align: center;
    color: var(--Desaturated-blue);
    line-height: 25px;
    padding: 20px 0px 20px 0;
}

/*CONTAINER IMG DE MUSIC*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: 10px 0 30px;
    align-items: center;
    background: var(--Very-pale-blue);
    border-radius: 8px;
    width: 98%;
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    
}

.Container-money {
    padding-left: 10px;
    font-size: 14px;
}

.paragraph-2 {
    color: var(--Dark-blue);
    font-weight: 700;
}

.money {
    color: var(--Desaturated-blue);
    font-weight: 500px;
}

.change {
    color: var(--Bright-blue);
    font-size: 12px;
}

.change:hover {
    text-decoration: none;
    color: var(--Desaturated-blue);
}

/*BUTTON*/

.button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 5px 50px gray;
    border-radius: 15px;
}

.button a {
    text-align: center;
    background: var(--Bright-blue);
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    color: var(--Very-pale-blue);
    font-weight: 500;
}

.button a:hover {
    background: var(--button-hover);
}

.button-p {
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
}

.button-p a {
    text-decoration: none;
    color: var(--Desaturated-blue);
}

.button-p a:hover {
    color: var(--Dark-blue);
}
/*END BUTTON*/

/*END CONTAINER IMG DE MUSIC*/

/*END MAIN*/

/*FOOTER*/

.attribution {
    text-align: center;
    font-size: 10px;
    margin-top: 40px;
}

/*FOOTER*/

/*MEDIA QUERY*/

@media (min-width: 376px) {
    body {
        background-image: url(images/pattern-background-desktop.svg);
    }

    .card {
        margin-top: 10%;
        background-color: white;
    }
}

/*END MEDIA QUERY*/