@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --font: "Source Code Pro", monospace;
    --black: #000000;
    --white: white;
    --shadow: rgba(92, 92, 92, 0.119);
    --dark: #021526;
    --light: #ffffff;
    /* color-scheme: light dark; */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: light-dark(var(--light), var(--dark));
    color: light-dark(var(--dark), var(--light));
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: var(--font);
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.bio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: left;
    width: 100%;
    padding-bottom: 5px;
}

.bio{
    max-width: 700px;
    padding: 20px 0;
}

.img {
    width: 200px;
    height: 200px;
    min-width: 150px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border-radius: 40%; */ /* esto esta horrible, debo corregir la foto obviamente */
}

.photo {
    width: 100%; 
    height: 100%;
    object-fit: contain;
    mask-image: linear-gradient(black 80%, transparent); /* esto es algo quiero implementar con una buena foto */
}

.photo-mobile, .img-mobile{
    display: none;
}

.lenguajes{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

.icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.description{
    padding: 20px;
}

.cards{
    display: flex;
    padding: 10px;
    gap: 20px;
}

.card{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid light-dark(var(--light),var(--dark));
    transition: border 0.3s ease;
}

.card:hover{
    border: 1px solid light-dark(var(--dark),var(--light));
}

.img-fm-html, .img-fm-ts{
    width: 50px;
}

.thanks {
    font-size: 10px;
    max-width: 750px;
    text-align: center;
    margin: 20px 0;
    font-weight: 400;
}