@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    padding: 0;
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
}

:root {
    --font: 'Big Shoulders Display', cursive;
    --font-ld: 'Lexend Deca', sans-serif;

    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container {
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.card {
    width: 90vw;
    padding: 45px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

img {
    grid-column: 1/2;
    padding: 0 0 20px 0;
}

h1 {
    grid-column: 1/3;
    font-size: 40px;
    font-family: var(--font);
    padding: 0 0 20px 0;
    color: var(--Transparent-white-paragraphs);
}

p {
    grid-column: 1/3;
    font-family: var(--font-ld);
    line-height: 30px;
    color: var(--Transparent-white-paragraphs);
}

.botton {
    width: 150px;
    grid-column: 1/3;
    margin-top: 30px;
    text-decoration: none;
    padding: 15px 30px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    font-family: var(--font-ld);
}

.card-1 {
    background: var(--Bright-orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.b1 {
    color: var(--Bright-orange);
}

.card-2 {
    background: var(--Dark-cyan);
}

.b2 {
    color: var(--Dark-cyan);
}

.card-3 {
    background: var(--Very-dark-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.b3 {
    color: var(--Very-dark-cyan);
}

.botton:hover {
    background: none;
    border: 1px solid var(--Transparent-white-paragraphs);
    color: var(--Transparent-white-paragraphs);
}

@media screen and (min-width:901px) {
    body {
        height: 912px;
    }
    .container {
        display: flex;
        flex-direction: row;
    }   

    .card {
        width: 300px;
        height: 500px;
    }

    .botton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        padding: 10px;
    }

    .card-1 {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .card-3 {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }