<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon-32x32.png">
  <link rel="stylesheet" href="technology.css">
  <title>Space tourism website</title>
</head>
<body>
  <header>
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><g fill="none" fill-rule="evenodd"><circle cx="24" cy="24" r="24" fill="#FFF"/><path fill="#0B0D17" d="M24 0c0 16-8 24-24 24 15.718.114 23.718 8.114 24 24 0-16 8-24 24-24-16 0-24-8-24-24z"/></g></svg>
    <nav>
      <ul class="list">
        <li class="item"><a href="#"><strong>00</strong> HOME</a></li>
        <li class="item"><a href="#"><strong>01</strong> DESTINATION</a></li>
        <li class="item"><a href="#"><strong>02</strong> CREW</a></li>
        <li class="item home"><a href="#"><strong>03</strong> TECHNOLOGY</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <h1><span>03</span> SPACE LAUNCH 101</h1>
      <div class="">
        <div class="button-numbers">
          <button class="button1">1</button>
          <button class="button2">2</button>
          <button class="button3">3</button>
        </div>
        <div>
          <span>The terminology...</span>
          <section>
            <h2 class="section__h2">Launch vehicle</h2>
            <p class="section__p">A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!</p>
          </section>
        </div>
        <img class="main__img" src="../../assets/technology/image-launch-vehicle-landscape.jpg" alt="Launch vehicle">
      </div>
    </section>
  </main>
  <script type="module" src="technology.js"></script>
</body>
</html>