@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
    /* Colors */

    /* Primary */

    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);

    /* ### Neutral */

    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);

    /* Fonts */
    --Poppins: 'Poppins', sans-serif;
    --Open-Sans: 'Open Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: var(--Poppins);
}

p {
    font-family: var(--Open-Sans);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 1440px;
    margin: 20px 0;
    align-items: center;
}

.logo {
    width: 100px;
}

.try {
    text-decoration: none;
    font-family: var(--Open-Sans);
    font-weight: 400;
    font-size: 14px;
    padding: 5px 20px;
    border: 1px solid var(--Pink);
    color: var(--Pink);
    border-radius: 20px;
}

.try:hover{
    color: var(--Light-Pink);
    border: 1px solid var(--Light-Pink);
}

/* END HEADER */

/* MAIN */

section {
    width: 100vw;
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

/* SECTION 1 */
.container {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-1 {
    text-align: center;
    margin: 20px 0;
    height: 615px;
    position: sticky;
    top: 0;
}

.container-1 p{
    max-width: 500px;
    margin: 30px 0 45px;
    font-size: 14px;
    color: var(--Very-Dark-Cyan);
}

.gsff {
    text-decoration: none;
    font-family: var(--Open-Sans);
    font-weight: 600;
    padding: 14px 40px;
    background: var(--Pink);
    color: var(--Very-Pale-Blue);
    border-radius: 25px;
    box-shadow: 1px 5px 10px rgba(128, 128, 128, 0.312);
}

.gsff:hover {
    background: var(--Light-Pink);
}

.mockups{
    width: 100%;
    margin-top: 100px;
}
/* END SECTION 1 */
/* SECTION 2 */

.section2 {
    background-image: url(images/bg-section-top-mobile-1.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: bottom;
}

.container-2 {
    margin: 100px 0;
    position: sticky;
    top: 0;
}

.container-2 h1 {
    font-size: 70px;
}

.container-2 p{
    color: var(--Pink);
    text-align: center;
    position: sticky;
    top: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card1 {
    margin-bottom: 100px;
}

.card1 h1 {
    font-size: 85px;
}

.card img {
    width: 35px;
    position: relative;
    right: 90px;
}

.card2 p {
    width: 110px;
}
/* END SECTION 2 */

/* SECTION 3 */

.section3 {
    background: var(--Very-Pale-Blue);
}

.container-3 {
    margin-bottom: 50px;
    position: sticky;
    top: 0;
}

.container-3 img{
    width: 95%;
}

.container-3 h1 {
    margin: 80px 0 30px;
}

.container-3 p {
    text-align: center;
    font-size: 14px;
    color: var(--Very-Dark-Cyan);
}

/* END SECTION 3 */

/* CONTAINER 4 */

.section4 {
    background-image: url(images/bg-section-bottom-mobile-1.svg), url(images/bg-section-top-mobile-2.svg);
    background-position: top, bottom;
    background-repeat: no-repeat;
}

.container-4 {
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    margin-top: 150px;
}

.container-4 img{
    width: 95%;
}

.container-4 h1 {
    margin: 80px 0 30px;
}

.container-4 p {
    text-align: center;
    font-size: 14px;
    color: var(--Very-Dark-Cyan);
    margin-bottom: 120px;
}

/* END CONTAINER 4 */
/* CONTAINER 5 */

.section5 {
    background: var(--Very-Pale-Blue);
}

.container-5 {
    margin: 20px 0 50px;
    position: sticky;
    top: 0;
}

.container-5 img{
    width: 95%;
}

.container-5 h1 {
    margin: 80px 0 30px;
}

.container-5 p {
    text-align: center;
    font-size: 14px;
    color: var(--Very-Dark-Cyan);
}

/* END CONTAINER 5 */

/* CONTAINER 6 */

.section6 {
    background-image: url(images/bg-section-bottom-mobile-2.svg), url(images/bg-footer-top-mobile.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
}

.container-6 {
    margin: 150px 0 200px;
    position: sticky;
    top: 0;
}

.container-6 h1 {
    text-align: center;
}

.container-6 a {
    text-decoration: none;
    font-family: var(--Open-Sans);
    padding: 14px 60px;
    background: var(--Pink);
    color: var(--Very-Pale-Blue);
    border-radius: 50px;
    margin-top: 45px;
    box-shadow: 1px 5px 10px rgba(128, 128, 128, 0.312);
}

.container-6 a:hover{
    background: var(--Light-Pink);
}

/* END CONTAINER 6 */
/* END MAIN */

/* FOOTER */

footer {
    background: var(--Very-Dark-Cyan);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h1 {
    color: var(--Very-Pale-Blue);
    font-family: var(--Open-Sans);
    text-transform: uppercase;
    font-size: 25px;
}

.footer-general{
    width: 85%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

footer p {
    color: var(--Very-Pale-Blue);
    font-size: 15px;
}

.fc-2 {
    margin: 75px 0;
}

.fc-2 p {
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
}
form {
    width: 100%;
}

.email {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin: 35px 0 25px;
}

.botton{
    text-decoration: none;
    font-family: var(--Open-Sans);
    font-size: 15px;
    color: var(--Very-Pale-Blue);
    padding: 10px 40px;
    background: var(--Pink);
    border-radius: 10px;
    width: 160px;
}

.botton:hover{
    background: var(--Light-Pink);
}

.f-logo{
    width: 200px;
    margin-bottom: 20px;
}

.fc-1 {
    margin: 15px 0 50px;
}

.f-contact{
    margin-top: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-contact {
    display: flex;
    align-items: center;
}

.icon-p, .icon-m{
    margin-right: 17px;
}

.fix{
   width: 85%;
   margin-bottom: 50px;
}

.fa-brands {
    font-size: 30px;
    margin-right: 20px;
    color: var(--Very-Pale-Blue);
}

.fa-brands:hover{
    color: var(--Light-Pink);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* END FOOTER */

/* MEDIA QUERY */

@media screen and (min-width:900px){
    .container-1 {
        height: 100%;
    }

    .container-1 h1 {
        font-size: 32px;
    }
    .container-1 p {
        font-size: 16px;
    }
    .mockups {
        width: 675px;
    }

    /* SECTION 2 */

    .section2 {
        background-image: url(images/bg-section-top-desktop-1.svg);
    }
    .container-2 {
        flex-direction: row;
        justify-content: space-around;
        width: 900px;
        margin-bottom: 250px;
    }

    .card1 {
        margin-bottom: 0;
    }

    .card2 p {
        width: auto;
    }

    .container-2 h1 {
        font-size: 85px;
    }

    /* END SECTION 2 */

    /* SECTION 3 */

    .container-3 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

    }

    .container-3 img {
        width: 500px;
    }

    .c3-text {
        width: 500px;
    }

    .c3-text h1{
        font-size: 35px;
    }

    .c3-text p {
        text-align: left;
        font-size: 16px;
    }

    /* END SECTION 3 */

    /* SECTION 4 */
    
    .section4 {
        background-image: url(images/bg-section-bottom-desktop-1.svg) , url(images/bg-section-top-desktop-2.svg);
    }

    .container-4 {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 250px 0;
    }

    .container-4 img {
        width: 500px;
    }

    .c4-text h1{
        font-size: 35px;
    }

    .c4-text {
        width: 500px;
    }

    .c4-text p{
        text-align: left;
        font-size: 16px;
        margin: 0;
    }
    
    /* END SECTION 4 */

    /* SECTION 5 */

    .container-5 {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .container-5 img {
        width: 500px;
    }

    .c5-text h1{
        font-size: 35px;
        margin-top: 0;
    }

    .c5-text {
        width: 500px;
    }

    .c5-text p{
        text-align: left;
        font-size: 16px;
        margin: 0;
    }

    /* END SECTION 5 */

    /* SECTION 6 */
    
    .section6 {
        background-image: url(images/bg-section-bottom-desktop-2.svg), url(images/bg-footer-top-desktop.svg);
    }
    
    /* END SECTION 6 */

    .footer-general {
        flex-direction: row;
        justify-content: space-between;
    }

    .f-contact {
        margin-top: 10px;
    }

    .fc-1 {
        width: 310px;
        margin-bottom: 0px;
    }

    .fc-2 {
        width: 550px;
        margin-bottom: 0px;
    }

    .fc-2 p {
        width: 350px;
    }

    .fix {
        margin-top: 20px;
    }

    .form {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .email {
       margin: 0;
       width: 350px; 
       height: 44px;
    }

}